@import "tailwindcss/base";
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
    margin-top: 3rem;
  }
}

body {
  background: linear-gradient(
    180deg,
    #244f70 0%,
    #aec7d1 30%,
    #aec7d1 50%,
    #aec7d1 70%,
    #1f5177 100%,
  );
}
